modules/resin/src/com/caucho/server/resin/resin-content.rnc

default namespace r = "http://caucho.com/ns/resin"
namespace rcore = "http://caucho.com/ns/resin/core"
namespace local = ""
namespace l = ""

include "../webapp/resin-web-xml-content.rnc"
include "../e_app/resin-ear-content.rnc"
include "resin-compat.rnc"

l_resin = element l:caucho.com {
  r_any-Group
}

r_cache = element cache {
  r_path?

  & (attribute disk-size { r_int } | element disk-size { r_int })?

  & (attribute enable { r_boolean-Type }
     | element enable { r_boolean-Type })?

  & (attribute enable-range { r_boolean-Type }
     | element enable-range { r_boolean-Type })?

  & (attribute entries { r_int } | element entries { r_int })?

  & (attribute max-entry-size { r_int }
     | element max-entry-size { r_int })?

  & (attribute memory-size { r_int } | element memory-size { r_int })?
}

r_cluster = element cluster {
  attribute id { string },

  r_root-directory?,

  r_cluster-Content
}

r_cluster-default = element cluster-default {
  r_cluster-Content
}

## <cluster> basic contents
r_cluster-Basis =
  r_env-Basis

  & r_access-log?

  & r_cache?

  & (attribute connection-error-page { string }
     | element connection-error-page { string })?

  & r_ear-default*

  & r_error-page*

  & r_host*

  & r_host-default*

  & r_host-deploy*

  & r_ignore-client-disconnect?

  & (attribute invocation-cache-size { r_kbytes-Type }
     | element invocation-cache-size { r_kbytes-Type })?

  & (attribute invocation-cache-max-url-length { r_int-Type }
     | element invocation-cache-max-url-length { r_int-Type })?

  & r_persistent-store?

  & r_ping*

  & r_rewrite-dispatch?

  & r_root-directory?

  & r_server*

  & r_server-default*

  & (attribute server-header { string }
     | element server-header { string })?

  & r_session-cookie?

  & r_ssl-session-cookie?

  & r_session-url-prefix?

  & r_url-character-encoding?

  & r_web-app-default*

## <cluster> flow control
r_cluster-Flow =
  r_cluster-Basis

  & element rcore:if { rcore_if-Args, r_cluster-Flow }*

  & element rcore:choose {
      element rcore:when { rcore_when-Args, r_cluster-Flow }+,
      element rcore:otherwise { r_cluster-Flow }?
    }*

r_cluster-Content = r_cluster-Flow

r_cluster-port-Content =
  (attribute id { string }
   | attribute server-id { string }
   | element server-id { r_string-Group })?

  & (attribute backup { string } | element backup { r_string-Group })?

  & (attribute connection-max { r_int-Type }
     | element connection-max { r_int-Type })?

  & (attribute host { string } | element host { r_string-Group })?

  & (attribute index { string } | element index { r_string-Group })?

  & (attribute keepalive-max { r_int-Type }
     | element keepalive-max { r_int-Type })?

  & (attribute load-balance-weight { r_int-Type }
     | element load-balance-weight { r_int-Type })?

  & (r_openssl | r_jsse-ssl)?

  & (attribute port { string } | element port { r_string-Group })

  & (attribute protocol { string } | element protocol { r_string-Group })?

  & (attribute read-timeout { r_period }
     | element read-timeout { r_period })?

  & (attribute socket-listen-backlog { r_int-Type }
     | element socket-listen-backlog { r_int-Type })?

  & (attribute socket-timeout { r_period }
     | element socket-timeout { r_period })?

  & (attribute tcp-no-delay { r_boolean-Type }
     | element tcp-no-delay { r_boolean-Type })?

  & (attribute timeout { r_period }
     | element timeout { r_period })?

  & (attribute write-timeout { r_period }
     | element write-timeout { r_period })?

r_cluster-port = element cluster-port {
  r_port-Content
}

r_enable =
  attribute enable { r_boolean-Type }
  | element enable { r_boolean-Type }

r_group-name =
  attribute group-name { string }
  | element group-name { string }

r_host = element host {
  (attribute id { string }
   | attribute regexp { string }
   | element regexp { string })?

  & (attribute host-name { string } | element host-name { string })?

  & (attribute secure-host-name { string }
    | element secure-host-name { string })?

  & (attribute host-alias { string }
     | element host-alias { string })*

  & (attribute host-alias-regexp { string }
     | element host-alias-regexp { string })*

  & r_lazy-init?

  & r_redeploy-check-interval?

  & r_redeploy-mode?

  & r_root-directory?

  & r_startup-mode?

  & r_host-Group
}

r_host-Content =
  r_env-Content

  & r_access-log?

  & r_application*

  & r_document-directory?

  & r_ear-default*

  & r_ear-deploy*

  & r_error-page*

  & r_rewrite-dispatch?

  & r_web-app-deploy*

  & r_web-app-default*

  & rc_web-app*

## <host> flow control
r_host-Flow =
  r_host-Content

  & element rcore:env { rcore_env-Args, r_host-Flow }*

  & element rcore:if { rcore_if-Args, r_host-Flow }*

  & element rcore:choose {
      element rcore:when { rcore_when-Args, r_host-Flow }+,
      element rcore:otherwise { r_host-Flow }?
    }*

## The complete host contents
r_host-Group = r_host-Flow

r_host-default = element host-default {
  r_host-Group
}

r_host-deploy = element host-deploy {
  r_path

  & (attribute archive-directory { r_path-Type }
     | element archive-directory { r_path-Type })?

  & r_expand-cleanup-fileset?

  & (attribute expand-directory { r_path-Type }
     | element expand-directory { r_path-Type })?

  & (attribute host-name { string }
     | element host-name { string })?

  & (attribute lazy-init { r_boolean-Type }
     | element lazy-init { r_boolean-Type })?

  & r_host-default?
}

r_http = element http {
  (attribute id { string }
   | attribute server-id { string }
   | element server-id { string })?

  & r_port-Content

  & (attribute virtual-host { string }
     | element virtual-host { string })?
}

r_ignore-client-disconnect =
  attribute ignore-client-disconnect { string }
  | element ignore-client-disconnect { string }

r_jsse-ssl = element jsse-ssl {
  (attribute alias { string }
   | element alias { r_string-Group })?

  & (attribute key-store-file { string }
   | element key-store-file { r_string-Group })

  & (attribute password { string }
     | element password { r_string-Group })

  & (attribute key-store-type { string }
     | element key-store-type { r_string-Group })?

  & (attribute key-manager-factory { string }
     | element key-manager-factory { r_string-Group })?

  & (attribute ssl-context { string }
     | element ssl-context { r_string-Group })?

  & (attribute verify-client { string }
     | element verify-client { r_string-Group })?
}

r_keepalive-max =
  attribute keepalive-max { string }
  | element keepalive-max { string }

r_keepalive-timeout =
  attribute keepalive-timeout { r_period-Type }
  | element keepalive-timeout { r_period-Type }

r_keepalive-select-thread-timeout =
  attribute keepalive-select-thread-timeout { r_period-Type }
  | element keepalive-select-thread-timeout { r_period-Type }

r_keepalive-select-enable =
  attribute keepalive-select-enable { r_boolean-Type }
  | element keepalive-select-enable { r_boolean-Type }

r_memory-free-min =
  attribute memory-free-min { string }
  | element memory-free-min { string }

r_openssl = element openssl {
  (attribute ca-certificate-file { string }
     | element ca-certificate-file { r_string-Group })?

  & (attribute ca-certificate-path { string }
     | element ca-certificate-path { r_string-Group })?

  & (attribute ca-revocation-file { string }
     | element ca-revocation-file { r_string-Group })?

  & (attribute ca-revocation-path { string }
     | element ca-revocation-path { r_string-Group })?

  & (attribute certificate-file { string }
   | element certificate-file { r_string-Group })

  & (attribute certificate-chain-file { string }
     | element certificate-chain-file { r_string-Group })?

  & (attribute certificate-key-file { string }
     | element certificate-key-file { r_string-Group })?

  & (attribute cipher-suite { string }
     | element cipher-suite { r_string-Group })?

  & (attribute password { string }
     | element password { r_string-Group })

  & (attribute protocol { string }
     | element protocol { r_string-Group })?

  & (attribute session-cache { r_boolean-Type }
     | element session-cache { r_boolean-Type })?

  & (attribute session-cache-timeout { r_period }
     | element session-cache-timeout { r_period } )?

  & (attribute unclean-shutdown { r_boolean-Type }
     | element unclean-shutdown { r_boolean-Type } )?

  & r_verify-client?

  & (attribute verify-depth { r_int }
     | element verify-depth { r_int })?
}

r_persistent-store = element persistent-store {
  r_jndi-name?

  & (attribute type { string } | element type { string })

  & r_init?

  & (attribute max-idle-time { r_period }
     | element max-idle-time { r_period })?
}

r_ping = element ping {
  r_any-Group*
}

r_port = element port {
  (attribute id { string }
   | attribute server-id { string }
   | element server-id { string })?

  & r_port-Content

  & (attribute index { string } | element index { string })?

  & (attribute group { string } | element group { string })?

  & (attribute backup { string } | element backup { string })?

  & r_protocol
}

r_port-Content =
  ((attribute address { string }
    | element address { string }
    | attribute host { string }
    | element host { string })?

   & (attribute port { string } | element port { string })

   & (attribute accept-thread-min { r_int-Type }
      | element accept-thread-min { r_int-Type })?

   & (attribute accept-thread-max { r_int-Type }
      | element accept-thread-max { r_int-Type })?

   & (attribute connection-max { r_int-Type }
      | element connection-max { r_int-Type })?

   & (attribute keepalive-max { r_int-Type }
      | element keepalive-max { r_int-Type })?

   & (attribute socket-timeout { r_period-Type }
      | element socket-timeout { r_period-Type })?

   & (attribute accept-listen-backlog { r_int-Type }
      | element accept-listen-backlog { r_int-Type })?

   & (attribute tcp-no-delay { string }
      | element tcp-no-delay { string })?

   & (r_openssl | r_jsse-ssl)?
   )

r_protocol =
  element protocol {
    r_port-Content

    & (r_class | r_type)

    & r_init?
  }

r_resin = element resin {
  r_root-directory?,

  r_resin-Content
}

## <resin> basic contents
r_resin-Basis = 
  r_env-Basis

  & r_cluster*

  & r_cluster-default*

  & (attribute environment-system-properties { string }
     | element environment-system-properties { string })?

  & r_min-free-memory?

  & (attribute security-provider { string }
    | element security-provider { string })*

  & r_security-manager?

  & r_server-Compat*

  & (attribute shutdown-wait-max { r_period-Type }
     | element shutdown-wait-max { r_period-Type })?

  & r_thread-pool?

  & r_transaction-manager?

## <resin> flow control
r_resin-Flow =
  r_resin-Basis

  & element rcore:env { rcore_env-Args, r_resin-Flow }*

  & element rcore:if { rcore_if-Args, r_resin-Flow }*

  & element rcore:choose {
      element rcore:when { rcore_when-Args, r_resin-Flow }+,
      element rcore:otherwise { r_resin-Flow }?
    }*

r_resin-Content = r_resin-Flow

r_root-directory =
  attribute root-directory { string }
  | element root-directory { string }

r_security-manager = 
  attribute security-manager { string }
  | element security-manager {
      string |

      (attribute policy-file { string }
       | element policy-file { string })
    }

r_server = element server {
  attribute id { string }

  & (attribute address { string }
     | element address { string })?

  & (attribute port { string }
     | element port { string })?

  & r_server-Content
}

r_server-default = element server-default {
  r_server-Content
}

r_server-Basis =
  r_group-name?

  & r_cluster-port*

  & r_http*

  & (attribute jvm-arg { string }
     | element jvm-arg { string })*

  & r_keepalive-max?

  & r_keepalive-timeout?

  & r_keepalive-select-enable?

  & r_keepalive-select-thread-timeout?

  & (attribute load-balance-connect-timeout { r_period-Type }
    | element load-balance-connect-timeout { r_period-Type })?

  & (attribute load-balance-recover-time { r_period-Type }
     | element load-balance-recover-time { r_period-Type })?

  & (attribute load-balance-idle-time { r_period-Type }
     | element load-balance-idle-time { r_period-Type })?

  & (attribute load-balance-warmup-time { r_period-Type }
     | element load-balance-warmup-time { r_period-Type })?

  & (attribute load-balance-weight { r_int-Type }
     | element load-balance-weight { r_int-Type })?

  & r_memory-free-min?

  & (attribute socket-timeout { r_period-Type }
     | element socket-timeout { r_period-Type })?

  & r_thread-max?

  & r_thread-idle-max?

  & r_thread-idle-min?

  & r_protocol*

  & r_user-name?

  & (attribute watchdog-arg { string }
     | element watchdog-arg { string })*

  & (attribute watchdog-port { r_int-Type }
     | element watchdog-port { r_int-Type })?

r_server-Flow =
  r_server-Basis

  & element rcore:if { rcore_if-Args, r_server-Flow }*

  & element rcore:choose {
      element rcore:when { rcore_when-Args, r_server-Flow }+,
      element rcore:otherwise { r_server-Flow }?
    }*

r_server-Content = r_server-Flow

r_session-cookie = 
  attribute session-cookie { string }
  | element session-cookie { string }

r_session-url-prefix =
  attribute alternate-session-url-prefix { string }
  | element alternate-session-url-prefix { string }
  | attribute session-url-prefix { string }
  | element session-url-prefix { string }

r_ssl-session-cookie = 
  attribute ssl-session-cookie { string }
  | element ssl-session-cookie { string }

r_thread-max =
  attribute thread-max { string }
  | element thread-max { string }

r_thread-idle-max =
  attribute thread-idle-max { string }
  | element thread-idle-max { string }

r_thread-idle-min =
  attribute thread-idle-min { string }
  | element thread-idle-min { string }

r_transaction-log = element transaction-log {
  r_path+
}

r_transaction-manager = element transaction-manager {
  r_transaction-log?
}

r_url-character-encoding =
  attribute url-character-encoding { string }
  | element url-character-encoding { string }

r_user-name =
  attribute user-name { string }
  | element user-name { string }
